<%- include('header'); -%>
 <div class="content">
 <h1 id="welcome">WELCOME to Webstore</h1>
 <p>Ridwan</p>
 <p>Mamzar</p>
 <p>971588083897</p>
 <p>ridy.a.o.16@gmail.com</p>
 </div>
<%- include('footer'); -%>