<%- include('header'); -%>
 <div class="content">
 <h1 id="welcome">WELCOME to Webstore</h1>
 </div>
 <form method="POST" action="login.php">
    <label>Society</label> <br>
    <input type="text" name="Society" placeholder="Enter your society name:"> <br>
    <br>
    <label>Contact</label> <br>
    <input type="text" name="Contact" placeholder="Enter your contact:"> <br>
    <br>
    <label>Addres</label> <br>
    <input type="text" name="Addres" placeholder="Enter your addres:"> <br>
    <br>
    <label>City</label> <br>
    <input type="text" name="City" placeholder="Enter your city"> <br>
    <br>
    <label>Zipcode</label> <br>
    <input type="text" name="Zipcode" placeholder="Enter your zipcode:"> <br>
    <br>
    <label>Phone</label> <br>
    <input type="text" name="Phone" placeholder="Enter your phone number:"> <br>
    <br>
    <label>Fax</label> <br>
    <input type="text" name="Fax" placeholder="Enter your fax number:"> <br>
    <br>
    <label>Confirmation</label> <br>
    <input type="number" name="Confirmation" placeholder="Enter your confirmation number:"> <br>
    <br>
    <label>Payment</label> <br>
    <input type="text" name="Payment" placeholder="Enter your payment:"> <br>
    <br>
    <label>Informations</label> <br>
    <input type="text" name="Informations" placeholder="Enter your informations:"> <br>
    <br>
    <label>max_outstanding</label> <br>
    <input type="number" name="max_outstanding" placeholder="Enter your max outstanding balance:"> <br>
    <br>
    
 </form>
<%- include('footer'); -%>